<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
    <tr>
    <td>Before starting</td>
    <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
    </tr>
    <tr>
    <td>09:00 – 09:30</td>
    <td>Arrival, housenotes and course overview</td>
    </tr>
    <tr>
    <td>09:30 – 10:30</td>
    <td>Flashtalks from all participants</td>
    </tr>
    <tr>
    <td>10:30 – 10:50</td>
    <td>Coffee break</td>
    </tr>
    <tr>
    <td>10:50 – 12:20</td>
    <td>Intro to Shell</td>
    </tr>
    <tr>
    <td>12:20 – 13:20</td>
    <td>Lunch</td>
    </tr>
    <tr>
    <td>13:20 – 14:20</td>
    <td>Intro to Shell</td>
    </tr>
    <tr>
    <td>14:20 – 14:40</td>
    <td>Coffee break</td>
    </tr>
    <tr>
    <td>14:40 – 16:10</td>
    <td>Intro to Git</td>
    </tr>
    <tr>
    <td>16:10 – 16:30</td>
    <td>Coffee break</td>
    </tr>
    <tr>
    <td>16:30 – 17:30</td>
    <td>Intro to Git</td>
    </tr>
    <tr>
    <td>17:30 – 18:00</td>
    <td>Daily feedback</td>
    </tr>
    <tr>
    <td>18:00 – 19:00</td>
    <td>Social activity</td>
    </tr>
    <tr>
    <td>19:00 – 20:00</td>
    <td>Dinner</td>
    </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
    <tr>
    <td>09:00 – 10:30</td>
    <td>Intro to Python</td>
    </tr>
    <tr>
    <td>10:30 – 11:00</td>
    <td>Coffee break</td>
    </tr>
    <tr>
    <td>11:00 – 12:00</td>
    <td>Intro to Python</td>
    </tr>
    <tr>
    <td>12:00 – 13:00</td>
    <td>Lunch</td>
    </tr>
    <tr>
    <td>13:00 – 14:00</td>
    <td>Intro to Python</td>
    </tr>
    <tr>
    <td>14:00 – 14:30</td>
    <td>Coffee break</td>
    </tr>
    <tr>
    <td>14:30 – 16:00</td>
    <td>Intro to Python</td>
    </tr>
    <tr>
    <td>16:00 – 16:30</td>
    <td>Coffee break</td>
    </tr>
    <tr>
    <td>16:30 – 18:00</td>
    <td>Intro to Python</td>
    </tr>
    <tr>
    <td>18:00 – 18:30</td>
    <td>Daily feedback</td>
    </tr>
    <tr>
    <td>18:30 – 19:30</td>
    <td>Dinner</td>
    </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
    <tr>
    <td>09:00 – 10:30</td>
    <td>Intro to Python</td>
    </tr>
    <tr>
    <td>10:30 – 11:00</td>
    <td>Coffee break</td>
    </tr>
    <tr>
    <td>11:00 – 12:00</td>
    <td>Intro to Python</td>
    </tr>
    <tr>
    <td>12:00 – 13:00</td>
    <td>Lunch</td>
    </tr>
    <tr>
    <td>13:00 – 14:00</td>
    <td>Intro to Python</td>
    </tr>
    <tr>
    <td>14:00 – 14:30</td>
    <td>Coffee break</td>
    </tr>
    <tr>
    <td>14:30 – 16:00</td>
    <td>Command-line scripting with Python</td>
    </tr>
    <tr>
    <td>16:00 – 16:30</td>
    <td>Coffee break</td>
    </tr>
    <tr>
    <td>16:30 – 18:00</td>
    <td>Command-line scripting with Python</td>
    </tr>
    <tr>
    <td>18:00 – 18:30</td>
    <td>Daily feedback</td>
    </tr>
    <tr>
    <td>18:30 – 19:30</td>
    <td>Dinner</td>
    </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
    <tr>
    <td>09:00 – 10:30</td>
    <td>Intro to SLURM with Nextflow</td>
    </tr>
    <tr>
    <td>10:30 – 11:00</td>
    <td>Coffee break</td>
    </tr>
    <tr>
    <td>11:00 – 12:00</td>
    <td>Intro to SLURM with Nextflow</td>
    </tr>
    <tr>
    <td>12:00 – 13:00</td>
    <td>Lunch</td>
    </tr>
    <tr>
    <td>13:00 – 14:00</td>
    <td>Intro to SLURM with Nextflow</td>
    </tr>
    <tr>
    <td>14:00 – 14:30</td>
    <td>Group photo and coffee break</td>
    </tr>
    <tr>
    <td>14:30 – 16:00</td>
    <td>Intro to SLURM with Nextflow</td>
    </tr>
    <tr>
    <td>16:00 – 19:00</td>
    <td>Social activities and free time</td>
    </tr>
    <tr>
    <td>19:00 – 21:30</td>
    <td>Dinner</td>
    </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 5</h3>
    <table class="table table-striped">
    <tr>
    <td>09:00 – 10:30</td>
    <td>Best practices in HPC environment</td>
    </tr>
    <tr>
    <td>10:30 – 11:00</td>
    <td>Coffee break</td>
    </tr>
    <tr>
    <td>11:00 – 12:00</td>
    <td>Best practices in HPC environment</td>
    </tr>
    <tr>
    <td>12:00 – 13:00</td>
    <td>Lunch</td>
    </tr>
    <tr>
    <td>13:00 – 14:00</td>
    <td>Best practices in HPC environment</td>
    </tr>
    <tr>
    <td>14:00 – 15:00</td>
    <td>Debrief and wrap-up</td>
    </tr>
    <tr>
    <td>End</td>
    <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
    </tr>
    </table>
  </div>
</div>
